body{
    background: rgb(189, 230, 230);
}
.checkinout{
    display: flex;
}

form{
    width: 50%;
    margin: auto;
}

.col{
    margin: 2px 2px;
}

.subbutton{
    text-align: center;
}

.about{
    display: flex;
    flex-direction: row;
}